---
import { getEntry } from "astro:content";
import SeedlingIcon from "../components/SeedlingIcon.astro";
import Root from "../layouts/root.astro";

const about = await getEntry("pages", "about");
const { Content } = await about.render();
---

<Root title="About">
  <main
    class="mx-auto flex w-full max-w-[65ch] flex-col gap-8 py-12 leading-normal"
  >
    <div class="flex flex-col gap-8 px-6">
      <h1 class="text-3xl">About</h1>
      <div class="prose dark:prose-invert">
        <Content />
      </div>
      <SeedlingIcon />
    </div>
  </main>
</Root>
