---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <main class="flex w-full flex-1 flex-col pb-16 text-center leading-normal">
    <div class="m-auto max-w-md space-y-8">
      <h1 class="text-3xl">About. Coming soon.</h1>
      <p>
        Get to know me better, on this page I'll properly introduce myself and
        tell you something about me.
      </p>
    </div>
  </main>
</DefaultLayout>
