---
import SeedlingIcon from "../components/SeedlingIcon.astro";
import { SITE_DESCRIPTION } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <main class="flex flex-1 flex-col p-8 md:p-12">
    <div
      class="my-auto inline max-w-3xl rounded-2xl px-2 py-4 pb-16 text-3xl leading-normal"
    >
      <span set:html={SITE_DESCRIPTION} />
    </div>
    <div class="flex items-end">
      <SeedlingIcon
        class="ml-auto flex-shrink-0 fill-[currentColor] stroke-2"
      />
    </div>
  </main>
</DefaultLayout>
