---
import SeedlingIcon from "../components/SeedlingIcon.astro";
import { LOCATION } from "../consts";
import Root from "../layouts/root.astro";
---

<Root>
  <main class="container mx-auto flex flex-1 flex-col p-8 md:p-12">
    <div
      class="my-auto inline-flex max-w-3xl flex-col gap-8 rounded-2xl px-2 py-4 pb-16 text-3xl leading-normal"
    >
      <p>
        Hey, I'm Stephan, a freelance web developer passionate about building <span
          class="whitespace-nowrap">high-quality websites</span
        >.
      </p>
      <p class="text-xl">
        Working remotely from <span class="italic">{LOCATION}</span>
      </p>
    </div>
    <div class="flex items-end">
      <SeedlingIcon class="ml-auto shrink-0 fill-[currentColor] stroke-2" />
    </div>
  </main>
</Root>
