---
import HalloweenIcon from "../components/HalloweenIcon.astro";
import SeedlingIcon from "../components/SeedlingIcon.astro";
import Spooky from "../components/Spooky.astro";
import { SITE_DESCRIPTION } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <main class="flex flex-1 flex-col">
    <h1
      class="my-auto max-w-3xl pb-16 text-3xl leading-normal"
      set:html={SITE_DESCRIPTION}
    />
    <div class="flex items-end">
      <small class="hidden text-gray-500 dark:block">
        Ghost cursor by <a
          class="underline underline-offset-2"
          href="https://codepen.io/ksenia-k/pen/yLGxEKb"
        >
          Ksenia Kondrashova
        </a>
      </small>
      <HalloweenIcon
        class="ml-auto hidden flex-shrink-0 fill-[currentColor] stroke-2 dark:block"
      />
      <SeedlingIcon class="ml-auto flex-shrink-0 fill-current dark:hidden" />
    </div>
  </main>
  <Spooky />
</DefaultLayout>
