---
import SeedlingIcon from "../components/SeedlingIcon.astro";
import { SITE_DESCRIPTION } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <main class="flex flex-1 flex-col">
    <h1
      class="my-auto max-w-3xl pb-16 text-3xl leading-normal"
      set:html={SITE_DESCRIPTION}
    />

    <SeedlingIcon class="ml-auto flex-shrink-0 fill-current" />
  </main>
</DefaultLayout>
