---
import { LOCATION } from "../consts";
import Root from "../layouts/root.astro";

export const prerender = true;
---

<Root>
  <main class="flex flex-1 flex-col gap-6 md:gap-12">
    <section class="container m-auto flex min-h-[60dvh] flex-col p-6 md:p-12">
      <div
        class:list={[
          "my-auto flex max-w-4xl origin-left flex-col justify-center gap-6 text-2xl/normal text-pretty md:text-4xl/normal",
          "animate-[scale_ease-out_forwards] [animation-range:0_50dvh] [animation-timeline:scroll()]",
        ]}
      >
        <p class="font-medium">
          Hey, I'm Stephan. Freelance web developer passionate about building
          high-quality websites.
        </p>
        <p class="text-lg text-stone-600 md:text-2xl dark:text-stone-400">
          Working remotely from <span class="italic">
            {LOCATION}
          </span>
        </p>
      </div>
    </section>
  </main>
</Root>
