---
import { SITE_TITLE } from "../consts";
const pathname = new URL(Astro.request.url).pathname;
const [page] = pathname.split("/").filter(Boolean);
---

<nav class="w-full md:mt-12">
  <div class="container mx-auto md:px-8">
    <div
      class="flex flex-row gap-4 bg-background/50 p-4 backdrop-blur-lg sm:rounded-2xl"
    >
      <div class="mr-auto flex flex-row">
        <a
          class="rounded px-2 py-1 hover:bg-foreground/10"
          href="/"
          data-astro-prefetch="viewport"
        >
          {SITE_TITLE}
        </a>
      </div>
      <div class="flex flex-row gap-4">
        <a
          class="rounded px-2 py-1 hover:bg-foreground/10 data-[active]:bg-foreground/10"
          data-active={page === "projects"}
          href="/projects"
          data-astro-prefetch="viewport">Projects</a
        >
        <a
          class="rounded px-2 py-1 hover:bg-foreground/10 data-[active]:bg-foreground/10"
          data-active={page === "blog"}
          href="/blog"
          data-astro-prefetch="viewport">Blog</a
        >
        <a
          class="rounded px-2 py-1 hover:bg-foreground/10 data-[active]:bg-foreground/10"
          data-active={page === "about"}
          href="/about"
          data-astro-prefetch="viewport">About</a
        >
      </div>
    </div>
  </div>
</nav>
