---
import { SITE_TITLE } from "../consts";
---

<nav class="flex w-full flex-row space-x-4 sm:space-x-12">
  <a
    class="mr-auto underline-offset-4 hover:underline"
    href="/"
    rel="prefetch-intent"
  >
    {SITE_TITLE}
  </a>
  <a
    class="underline-offset-4 hover:underline"
    href="/blog"
    rel="prefetch-intent"
  >
    Blog
  </a>
  <a
    class="underline-offset-4 hover:underline"
    href="/about"
    rel="prefetch-intent"
  >
    About
  </a>
</nav>
