@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: light-dark(hsl(0 0% 100%), hsl(240 10% 3.9%));
  --color-foreground: light-dark(hsl(240 10% 3.9%), hsl(0 0% 98%));
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground selection:bg-foreground selection:text-background;
  }
}

@utility prose {
  a {
    color: inherit;
    font-weight: var(--font-weight-regular);
    text-underline-offset: 2px;

    &:hover {
      color: var(--tw-prose-links);
    }
  }
}

@keyframes scale {
  to {
    transform: scale(0.9);
  }
}
