---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-white text-black dark:bg-black dark:text-white">
    <div
      class="container mx-auto flex min-h-screen flex-col space-y-16 p-8 sm:p-16"
    >
      <Header />
      <slot />
    </div>
  </body>
</html>
