---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <slot name="before-header" />
    <div class="relative flex min-h-[100dvh] flex-col">
      <Header />
      <div class="container mx-auto flex flex-1 flex-col">
        <slot />
      </div>
    </div>
  </body>
</html>
