---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const { title, description = SITE_DESCRIPTION, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}
      description={description}
      image={image}
    />
  </head>
  <body
    class="relative flex min-h-dvh flex-col py-6 scheme-light-dark md:py-12"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
